<div class="wrap-component" *ngIf="item">
    <div class="wrap-btn-close close-button" (click)="handleClickClose()">
        Close <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="on-date mb-10">
        On {{ item.createdDate|momentFormatPipe:'DD.MM.YYYY' }}
    </div>
    <div class="order-name">
        {{ item.orderName }}
    </div>
    <div class="order-description mb-15">
        {{ item.orderDesc }}
    </div>
    <div class="business-name">
        {{ item.businessName }}
    </div>
    <div class="order-id mb-6">
        {{ item._id }}
    </div>

    <hr class="line-1px">

    <div class="wrap-cast-outer">
        <div class="wrap-cash">
            <div class="cash-ele">
                {{ item.amount }} ELA
            </div>
            <div class="cash-usd">
                {{ item.amount }} USD
            </div>
        </div>
    </div>

    <hr class="line-1px mb-16">

    <div class="wrap-btn-checkout text-center">
        <button class="btn btn-checkout mt-16" (click)="handleClickPay()">
            Pay with ELA Pay
        </button>
    </div>
</div>
