.brand-wrap
    background: #0064d7;
    height: 50px;
    font-size: 18px;
    font-family: System-Bold;
    color: #FFF;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
