<div class="wrap-component" *ngIf="item">
    <form name="form" role="form" (ngSubmit)="checkout()" #checkoutForm="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.orderName" id="orderName" name="orderName" #orderName="ngModel" placeholder="Order Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.orderDesc" id="orderDesc" name="orderDesc" #orderDesc="ngModel" placeholder="Order Description" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.businessName" id="businessName" name="businessName" #businessName="ngModel" placeholder="Business Name" required>
        </div>
        <div class="form-group">
            <select class="form-control" (change)="selectedCurrency()" id="currency" required name="currency" [(ngModel)]="item.currency">
                <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="isElaCurrency">
            <input type="number" class="form-control" [(ngModel)]="item.amount" id="amount" placeholder="Amount" name="amount" #amount="ngModel" required>
        </div>
        <div class="form-group" *ngIf="!isElaCurrency">
            <input type="number" class="form-control" [(ngModel)]="item.price" id="price" placeholder="Price" name="price" #price="ngModel" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.walletAddress" id="walletAddress" name="walletAddress" #walletAddress="ngModel" placeholder="Wallet address" required="">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.callbackUrl" id="callbackUrl" name="callbackUrl" #callbackUrl="ngModel" placeholder="Callback Url" required="">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.returnUrl" id="returnUrl" name="returnUrl" #returnUrl="ngModel" placeholder="Return Url" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.email" id="email" name="email" #email="ngModel" placeholder="Subscription notification email address" required="">
        </div>
        <div *ngIf="isSaving" class="wrap-btn-checkout text-center">
            <div class="image-loading"></div>
        </div>
        <div class="wrap-btn-checkout text-center">
          <button [disabled]="checkoutForm.form.invalid || isSaving" class="btn btn-checkout mt-16" type="submit">
              Checkout
          </button>
        </div>
    </form>
</div>
