.wrap-component
    padding 20px 16px 18px 16px
.on-date, .order-description, .order-id
    color #8C8C8C
    font-size 13px
    font-family System
.order-name, .business-name
    color #000000
    font-size 17px
    font-family System
.wrap-cash
    border-left 3px solid #0363d7
    padding-left 16px
    .cash-ele
        color #000000
        font-size 36px
        font-family System-Bold
    .cash-usd
        color #8C8C8C
        font-family System
        font-size 20px
.btn-checkout
    border-radius 5px
    color #ffffff
    font-family System-Bold
    font-size 17px
    background #0064d7
    width 310px
    max-width 100%
    height 42px
.mb-6
    margin-bottom 6px
.mb-10
    margin-bottom 10px
.mb-15
    margin-bottom 15px
.mt-16
    margin-top 16px
hr.line-1px
    margin-top 0
    margin-bottom 0
.wrap-cast-outer
    height 220px
    display flex
    align-items center
.wrap-btn-close
    position absolute
    float right
    right 0
    margin-right 13px
    color #8c8c8c
    font-size 13px
    font-family System
.image-loading
    height: 45px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/loading.gif") no-repeat center center;
    background-size: contain;
