// Toast format
#toast-container
    top 0
    right 0
    .toast.toast-info, .toast.toast-warning
        border-radius 0
        opacity 1
        width auto !important
        vertical-align middle
        box-shadow none
        padding-top 19px
        padding-bottom 19px

.card.jh-card
    margin: 0
    margin-top 16px
    border none
    border-radius 5px
    padding 0

.container-fluid
    padding-left 16px !important
    padding-right 16px !important

@font-face
    font-family System-Bold
    src local('Tahoma'), local(Tahoma)
    font-weight bold
@font-face
    font-family System
    src local('Tahoma'), local(Tahoma)
    font-weight normal
